@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-family: 'Palanquin', sans-serif;
    font-size: 62.5%;
    --color-one: #4a4e69;
    --color-two: #8e9aaf;
    --color-three: #CBC0D3;
    --color-four: #FEEAFA;
    --color-five:#EFF1FF;
}

body{
    display: flex;
    flex-direction: column;
    background: var(--color-five);
    font-family: 'Staatliches', cursive;
}

header{
    height: 28.9rem;
    text-align: center;
    background: #00000003;
}
header h1{
    color: #a873d1;
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;

     
    padding: .8rem;
    margin-bottom: 3.6rem;
}


header img{
    margin: 3.2rem auto;
}


main{
    width: 32rem;
    margin: auto;
}

.about {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 1.5rem;
    color: #8618da;

    display: flex;
    align-items: center;
    text-align: center;

    margin: .9rem auto 0rem;
}

.grade{
    display: flex; 
    width: 22rem;   
    margin: 6rem;
    margin-top: 0rem; 
    flex-direction: column;   
}

.card{
    width: 22rem;

}

.card img{
    width: 22rem;
    height: auto;
}

.card span {
    width: 11.2rem;
    height: 3.5rem;
    
    font-family: 'Staatliches';
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #191f46;
    background-color: #d185c2db;
    
    padding: 0 1.6rem;
    border-radius: 2rem;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    top: 23rem;
    left: 6rem;
    margin: 16px 16px 0px 0px;

    animation: appear 2.15s 2.35s backwards;
    transition-timing-function: cubic-bezier(0.58, 0.53, 0.42, 0.39)
}
.grade .card:nth-child(5){
   display: none;
}

footer{
    display:none;
}

@keyframes appear{
    0%{
        transform: rotateX(180deg);
        opacity: 0;
    }

    50%{
        transform: rotateX(270deg);
        opacity:0.5;
    }

    75%{
        transform: rotateX(360deg);
        opacity: 1;
    }

    100%{
        transform: rotateX(0deg);
    }
}

@keyframes appearGrowth{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        filter: blur(5px);
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes headerAppear{
    0%{
        filter: blur(5px);
        opacity: 0;
    }

    50%{
        filter: blur(2.5px);
        opacity: .5;
    }

    100%{
        filter: blur(0px);
        opacity: 1;
    }
}

